@import '../../../stylesheet.scss';

.Button {
    border: none;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    font-family: $font-family;
    background-color: $primary-blue;
    color: white;
    margin: 0.2em;
    height: 2em;
    padding: 0 1em;
    &:hover {
        cursor: pointer;
    }
    &:disabled {
        cursor: not-allowed;
        background-color: #ccc;
    }
}

